.card-link{
    position: relative;
    padding: 2rem;
    border: 1.5px solid rgb(236, 236, 236);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    &__content-link{
        line-height: 2.5rem;
        a{
            color:  rgb(17, 88, 132);
        }
        width: 230px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }
    h2{
        font-size: 1.7rem;
        font-weight: 500;
    }
    img{
        margin-right: 2rem;
        width: 4rem;
    }
    &__list-actions{
        display: none;
        position: absolute; 
        right: 5rem;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        background-color: rgb(255, 255, 255);
        &.activ{
            display: block;
        }
        button{
            text-align: left;
            padding: 1rem;
            width: 100%;
            border: 0;
            background-color: transparent;
            font-size: 1.5rem;
            cursor: pointer;

        }
    }
}