.header{
    background-color: rgb(17, 88, 132);
    &__logo{
        font-weight: bold;
        font-size: 2.2rem;
        color: #fff;
    }
    &__nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
    }

    &__list-nav{
        display: flex;
        gap: 2rem;
    }
    
    &__link{
        font-size: 1.8rem;
        &.router-link-active {
            color: rgb(230, 37, 66);
        }
        transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -ms-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
}

}